.footer {

  &__wraper {
    max-width: 587px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: var(--mob-padding);
    padding-left: var(--mob-padding);
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    color: var(--txt-gray);
    margin: 0 0 30px 0;
  }

  &__text {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: var(--txt-gray);
    opacity: 0.5;
    margin: 0 0 60px 0;
  }

  &__button-inner {display: flex;
   /*  flex-wrap: wrap; */
    max-width: 492px;
    width: 100%;
  }

  &__email {
    background: var(--bg-primary);
    opacity: 0.25;
    border-radius: 50px 0px 0px 50px;
    width: 70%;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
    opacity: 0.5;
    &::placeholder {
      color: black;
      opacity: 1;
    }
  }

  &__discribe-btb {
    position: relative;
    left: -5%;
    z-index: 3;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--txt-gray);
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    border: none;
    width: 30%;
    min-width: 145px;
    cursor: pointer;

    &:hover {
      background: green;
    }
  }

  &__icons-inner {
    margin-top: 40px;
    margin-bottom: 50px;
    cursor: pointer;
  }

  &__rights {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 30px;
  }
}